body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
/* style header*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-header {
  font-size: 16px;
  line-height: 30px;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  padding-right: 80px;
  padding-top: 49px;
}
.main-header-logo:hover {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation-wrapper{
  width: 100%;
  margin-bottom: 0px;
  background-color: #eeeeee;
}
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.site-navigation,
.user-navigation {
  padding: 0;
  list-style: none;
}
.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  padding-top: 34px;
}
.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 255px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}
.user-navigation{
  display: flex;
  max-width: 160px;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding-top: 25px;
  padding-right: 23px;
  padding-bottom: 0;
  padding-left: 23px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}
.user-navigation .cart-link {
  position: relative;
  padding-left: 62px;
  padding-top: 34px;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 45px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


/* slider style*/
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -8px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  font-size: 16px;
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 41px;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
}

.button:active{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*style services */
.services {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
  margin-bottom: 40px;
}
.services-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
 
  margin-right: 100px;
}
.services-item:last-child {
  margin-right: 60px;
}
.services-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-item p {
  padding-bottom: 16px;
  width: 260px;
  color: #283136;
}

.services-list .button {
  width: 160px;
}

.button-apps {
  background-color: #00ca74;
}
.button-apps:hover {
  background-color: #00bc6c;
}
.button-apps:active {
  background-color: #009966;
}

.button-presentation {
  background-color: #efc84a;
}
.button-presentation:hover {
  background-color: #eab534;
}
.button-presentation:active {
  background-color: #e5a722;
}

/* style about-us */
.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.about-us {
  width: 660px;
}
.statistic{
  width: 360px;
}
.about-us h2 {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 16px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us p {
  color: #283136;
}

.orders {
  padding: 0;
  padding-top: 23px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  
}
.orders-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.orders-item {
  position: relative;
  margin-top: 24px;
  padding-left: 37px;
  color: #283136;
}

.orders-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;

}

.nerds-stat-logo {
  margin-bottom: 28px;
}

.statistic-table {
  border-collapse: collapse;
}

.statistic-list {
  margin-bottom: 43px;
  text-transform: uppercase;
  font-weight: 700;
}

.statistic-percents {
  
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.statistic-percents sup{
  font-size: 25px;
  
}

.statistic-title {
  line-height: 18px;
  color: #283136;
}



/* style partners*/
.partners {
  margin: 0 auto;
  
  margin-bottom: 80px;
  
}
.partners-list {
  position: relative;
  max-height: 181px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;

}

.htmlacademy-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 279px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.htmlacademy {
  opacity: 0.2;
}
.htmlacademy:hover {
  opacity: 1;
}
.htmlacademy:active {
  opacity: 0.1;
}
.barbershop-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 579px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.barbershop {
  opacity: 0.2;
}
.barbershop:hover {
  opacity: 1;
}
.barbershop:active {
  opacity: 0.1;
}
.pink-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 879px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.pink {
  opacity: 0.2;
}
.pink:hover {
  opacity: 1;
}
.pink:active {
  opacity: 0.1;
}
.mishka {
  opacity: 0.2;
}
.mishka:hover {
  opacity: 1;
}
.mishka:active {
  opacity: 0.1;
}






/* style contacts*/
.contacts {
  position: relative;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}
.contacts-wrapper {
  position: absolute;
  top: 55px;
  left: 160px;
  width: 319px;
  min-height: 308px;
  
  background-color: #ffffff;
}

.map-marker {
  position: absolute;
  top: 89px;
  left: 704px;
}

.contact-info {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 50px 50px 7px 50px;
}
.contact-addr, .contact-phone {
  padding-left: 50px;
  line-height: 18px;
  color: #666666;
}
.contacts-button {
  width: 219px;
  margin: 39px 40px 20px 50px;
}






/* style catalog.html*/

.header-container {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  padding-bottom: 100px;
  margin-bottom: 55px;
}

.header-container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
 
  width: 760px;
 }

.content-columns {
  display: flex;
  justify-content: space-between;
}
.filters {
  width: 260px;
}
.main-content {
  width: 760px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

}
.content-item {
  width: 360px;
  margin-bottom: 33px;
  
}

.page-switch {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.page-item a {
  padding: 14px 17px 14px 17px;
  margin-right: 11px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 2px;
}
.page-item a:hover,
.page-item a:focus {
  background-color: #dfdfdf;
}
.page-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
}
.page-item-curent a {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}
.filter-button {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}
.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}
.filter-button:active {
  background-color: rgba(213, 213, 213, 0.3);
  border-top: 3px solid #bfbfbf;
}

.sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-content-item {
  list-style: none;
  text-transform: uppercase;
}
.sort-content a {
  color: #b2b2b2;
}
.sort-content a:hover {
  color: #666666;
}
.sort-content a:active {
  color: #000000;
}

.content-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.content-item p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.content-button {
  background-color: #fb565a;
}
.content-button:hover,
.content-button:focus {
  background-color: #e74246;
}
.content-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 3px solid #c13135;
}
/* style footer*/
.main-footer .container {
  display: flex;
  
}
.social {
  margin: 0;
  margin-right: 140px;
  
}
.social-friend {
  width: 560px;
}

.main-footer{
  margin: 65px 0;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-list a {
  text-decoration: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
  transition: 0.5s;
}
.social-button:active path {
  fill: #e37376;
  background-color: #d7373b;
}

.social-title {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.social-description {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  line-height: 22px;
  color: #444444;
}


/* style modal*/
.modal {
  width: 760px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 62px 100px 84px 100px;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75); 
  display: none;

}
.modal-close {
  position: absolute;
  top: 72px;
  left: 841px;
  border: none;
  background: transparent;
  cursor: pointer;
  
}

.modal-close path {
  fill: rgba(251, 86, 90, 0.3);
}
.modal-close:hover path{
  fill: rgba(251, 86, 90, 1);
}
.modal-close:active path{
  fill: rgba(251, 86, 90, 0.1);
}

.message-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.message-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.message-wrapper-text {
  margin-top: 30px;
  width: 100%;
}



.message-item {
  margin-bottom: 10px;
  line-height: 18px;
  font-weight: 700;
  
}

.message-wrapper input {
  margin: 0;
  padding: 16px;
  
  font: inherit;
  line-height: 18px;
  
  border: none;
  border-radius: 3px solid d7dcde;
  box-shadow: inset 2px 2px 0 0 #d7dcde,
              inset -2px -2px 0 0 #d7dcde;
}

.message-wrapper input:hover {
  box-shadow: inset 2px 2px 0 0 #b4b9bb,
              inset -2px -2px 0 0 #b4b9bb;  
}
.message-wrapper input:focus {
  box-shadow: inset 2px 2px 0 0 #000000,
              inset -2px -2px 0 0 #000000;  

}
.message-wrapper input:invalid {
  box-shadow: inset 2px 2px 0 0 #e74246,
              inset -2px -2px 0 0 #e74246;  
  color: #e74246;
}

.message-wrapper textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
  padding-top: 10px;
  resize: none;
}
.modal-button-send {
  margin-top: 42px;
  width: 260px;
}






