body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 -webkit-clip-path: inset(100%);
         clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
/* style header*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-header {
  font-size: 16px;
  line-height: 30px;
  background-color: #eeeeee;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  padding-right: 80px;
  padding-top: 49px;
}
.main-header-logo:hover {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation-wrapper{
  width: 100%;
  margin-bottom: 0px;
  background-color: #eeeeee;
}
.main-navigation-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-navigation,
.user-navigation {
  padding: 0;
  list-style: none;
}
.site-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 560px;
  padding-top: 34px;
}
.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 253px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}
.user-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
}
.site-navigation a,
.user-navigation a {
  display: block;
  padding-top: 25px;
  padding-right: 23px;
  padding-bottom: 0;
  padding-left: 23px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}
.user-navigation .cart-link {
  position: relative;
  padding-left: 62px;
  padding-top: 34px;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 45px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
/* slider style*/
.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 4;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -8px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
.product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
.product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
.product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
.product-1:focus ~ .slider-controls .slider-controls-item--1::after,
.product-2:focus ~ .slider-controls .slider-controls-item--2::after,
.product-3:focus ~ .slider-controls .slider-controls-item--3::after {
   outline: rgb(59, 153, 252) auto 1px;
}
.product-1:checked ~ .slider-controls .slider-controls-item--1::before,
.product-2:checked ~ .slider-controls .slider-controls-item--2::before,
.product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  font-size: 16px;
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 41px;
}
.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*style services */
.services {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 61px;
  margin-bottom: 20px;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.services-item:last-child {
  margin-right: 60px;
}
.services-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-item p {
  padding-bottom: 16px;
  width: 260px;
  color: #283136;
}
.services-list .button {
  width: 160px;
}
.button-apps {
  background-color: #00ca74;
}
.button-apps:hover {
  background-color: #00bc6c;
}
.button-apps:active {
  background-color: #009966;
}
.button-presentation {
  background-color: #efc84a;
}
.button-presentation:hover {
  background-color: #eab534;
}
.button-presentation:active {
  background-color: #e5a722;
}
/* style about-us */
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
  margin-bottom: 72px;
}
.about-us {
  width: 660px;
}
.statistic{
  width: 360px;
}
.about-us h2 {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 16px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us p {
  color: #283136;
}
.orders {
  padding: 0;
  padding-top: 23px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.orders-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
}
.orders-item {
  position: relative;
  margin-top: 24px;
  padding-left: 37px;
  color: #283136;
}
.orders-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.nerds-stat-logo {
  margin-bottom: 28px;
}
.statistic-table {
  border-collapse: collapse;
}
.statistic-list {
  margin-bottom: 43px;
  text-transform: uppercase;
  font-weight: 700;
}
.statistic-table td {
  width: 33.33%;
}
.statistic-title td {
  padding-top: 16px;
}
.statistic-percents {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.statistic-percents sup{
  font-size: 25px;
}
.statistic-title {
  line-height: 18px;
  color: #283136;
}
/* style partners*/
.partners {
  margin: 0 auto;
  margin-bottom: 80px;
}
.partners-list {
  position: relative;
  max-height: 181px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}
.htmlacademy-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 279px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.htmlacademy {
  opacity: 0.2;
}
.htmlacademy:hover {
  opacity: 1;
}
.htmlacademy:active {
  opacity: 0.1;
}
.barbershop-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 579px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.barbershop {
  opacity: 0.2;
}
.barbershop:hover {
  opacity: 1;
}
.barbershop:active {
  opacity: 0.1;
}
.pink-wrapper::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 879px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.pink {
  opacity: 0.2;
}
.pink:hover {
  opacity: 1;
}
.pink:active {
  opacity: 0.1;
}
.mishka {
  opacity: 0.2;
}
.mishka:hover {
  opacity: 1;
}
.mishka:active {
  opacity: 0.1;
}
/* style contacts*/
.contacts-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.contacts-wrapper-info {
  position: absolute;
  top: 52px;
  left: 20px;
  width: 319px;
  min-height: 308px;
  background-color: #ffffff;
}
.map iframe{
  min-width: 1160px;
  width: 100%;
  height: 416px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-image: url(../img/index-map.jpg);
}
.contact-info {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 50px 50px 7px 50px;
}
.contact-addr, .contact-phone {
  padding-left: 50px;
  line-height: 18px;
  color: #666666;
}
.contacts-button {
  width: 219px;
  margin: 39px 40px 20px 50px;
}
/* style catalog.html*/
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
  padding-bottom: 70px;
  margin-bottom: 55px;
}
.header-container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 760px;
  padding-top: 34px;
  padding-left: 27px;
 }
.content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filters {
  width: 260px;
}
.main-content {
  width: 760px;
}
.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 56px;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
  color: #283136;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input:disabled + label {
  color: #000000;
  opacity: 0.3;
}
.filter-button {
  width: 260px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.grid-item input[type="radio"] {
  padding: 0;
  margin: 0;
  opacity: 0;
}
.grid-item label {
  position: relative;
  padding-left: 5px; 
  vertical-align: middle;
}
.grid-list {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;
}
.grid-item {
  padding-left: 14px;
  padding-bottom: 19px;
}
.grid-item label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -30px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.grid-item input[type="radio"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -30px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.grid-item input[type="radio"]:hover + label::before  {
  opacity: 1;
  color: #000000;
}
.grid-item input[type="radio"]:disabled + label::before {
  opacity: 0.3;
}
.grid-item input[type="radio"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 1px;
} 
.features-item input[type="checkbox"] {
  padding: 0;
  margin: 0;
  opacity: 0;
}
.features-item label {
  position: relative;
  padding-left: 5px; 
  vertical-align: middle;
}
.features-list {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 31px;
}
.features-item {
  padding-left: 15px;
  padding-bottom: 19px;
}
.features label {
}
.features-item label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -31px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.features-item input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -31px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.features-item input[type="checkbox"]:hover + label::before  {
  opacity: 1;
  color: #000000;
}
.features-item input[type="checkbox"]:disabled + label::before  {
  opacity: 0.3;
}
.features-item input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 1px;
} 
.sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 56px;
}
.sort-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 360px;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.sort {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-content-item {
  padding-right: 26px;
}
.sort-button {
  color: #b2b2b2;
}
.sort-button-active {
  color: #000000;
}
.sort-button:hover {
  color: #666666;
}
.sort-button:active {
  color: #000000;
}
.sort-button-down {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 9px;
  right: 29px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}
.sort-button-up {
  position: absolute;
  width: 11px;
  height: 10px;
  top: 9px;
  right: 0;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}
.sort-button-down:hover {
  opacity: 0.5;
}
.sort-button-down:active {
  opacity: 1;
}
.sort-button-up:hover {
  opacity: 0.5;
}
.sort-button-up:active {
  opacity: 1;
}
.content-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.content-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
  padding-left: 5px;
  padding-right: 5px;
  width: 240px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.content-button {
  width: 200px;
  margin-bottom: 49px;
}
.content-item {
  position: relative;
  width: 360px;
  margin-bottom: 27px;
  padding-top: 40px;
}
.content-item:hover {
 -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
         box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}
.content-item-wrapper::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: 0;
  left: 0;
  background: url(../img/browser.svg) no-repeat;
  opacity: 0.12;
}
.content-item-wrapper:hover::before {
  opacity: 1;
}
.content-item-hidden {
  position: absolute;
  width: 360px;
  bottom: 0px;
  left: 0;
  background-color: #eeeeee;
  display: none;
}
.content-item:hover  .content-item-hidden{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.page-item a {
  display: block;
  padding: 13px 21px 13px 20px;
  margin-right: 11px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-radius: 3px;
}
.page-item:last-child a {
  padding: 13px 80px 13px 80px;
}
.button-next {
  padding: 0;
  margin: 0;
  width: 260px;
}
.page-item a:hover {
  -webkit-box-shadow: inset 0 0 0 3px #dfdfdf;
          box-shadow: inset 0 0 0 3px #dfdfdf;
  background-color: #dfdfdf;
}
.page-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px rgba(0, 0, 0, 0.1) ;
          box-shadow: inset 0 3px rgba(0, 0, 0, 0.1) ;
}
.page-item-curent a {
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
          box-shadow: inset 0 0 0 3px #dbdbdb;
  background-color: #ffffff;
}
/* style footer*/
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social {
  margin: 0;
  margin-right: 140px;
}
.social-friend {
  width: 560px;
}
.main-footer{
  margin: 63px 0;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-list a {
  text-decoration: none;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.social-button:active path {
  fill: #e37376;
  background-color: #d7373b;
}
.social-title {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.social-description {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  line-height: 22px;
  color: #444444;
}
/* style modal*/
@-webkit-keyframes fadein {
    0% {
       -webkit-transform: scale(50%, 50%);
               transform: scale(50%, 50%);
        opacity: 0.0;       
    }
    100% {
        -webkit-transform: scale(50%, 50%);
                transform: scale(50%, 50%);
        opacity: 1; 
    }       
}
@keyframes fadein {
    0% {
       -webkit-transform: scale(50%, 50%);
               transform: scale(50%, 50%);
        opacity: 0.0;       
    }
    100% {
        -webkit-transform: scale(50%, 50%);
                transform: scale(50%, 50%);
        opacity: 1; 
    }       
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-49.8%, -49.8%);
            transform: translate(-49.8%, -49.8%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50.2%,-50.2%);
            transform: translate(-50.2%,-50.2%);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-49.8%, -49.8%);
            transform: translate(-49.8%, -49.8%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50.2%,-50.2%);
            transform: translate(-50.2%,-50.2%);
  }
}
.modal {
  width: 760px;
  margin: 0 auto;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 62px 100px 84px 100px;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
          box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75); 
  display: none;
}
.modal-show {
  display: block;
  -webkit-animation: fadein 0.6s;
          animation: fadein 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.modal-close {
  position: absolute;
  top: 72px;
  left: 841px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.modal-close path {
  fill: rgba(251, 86, 90, 0.3);
}
.modal-close:hover path{
  fill: rgba(251, 86, 90, 1);
}
.modal-close:active path{
  fill: rgba(251, 86, 90, 0.1);
}
.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}
.message-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.message-wrapper-text {
  margin-top: 30px;
  width: 100%;
}
.message-item {
  margin-bottom: 10px;
  line-height: 18px;
  font-weight: 700;
}
.message-wrapper input {
  margin: 0;
  padding: 16px;
  font: inherit;
  line-height: 18px;
  border: none;
  border-radius: 3px solid d7dcde;
  -webkit-box-shadow: inset 2px 2px 0 0 #d7dcde,
              inset -2px -2px 0 0 #d7dcde;
          box-shadow: inset 2px 2px 0 0 #d7dcde,
              inset -2px -2px 0 0 #d7dcde;
}
.message-wrapper input:hover {
  -webkit-box-shadow: inset 2px 2px 0 0 #b4b9bb,
              inset -2px -2px 0 0 #b4b9bb;
          box-shadow: inset 2px 2px 0 0 #b4b9bb,
              inset -2px -2px 0 0 #b4b9bb;  
}
.message-wrapper input:focus {
  -webkit-box-shadow: inset 2px 2px 0 0 #000000,
              inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #000000,
              inset -2px -2px 0 0 #000000;  
}
.message-wrapper input:invalid {
  -webkit-box-shadow: inset 2px 2px 0 0 #e74246,
              inset -2px -2px 0 0 #e74246;
          box-shadow: inset 2px 2px 0 0 #e74246,
              inset -2px -2px 0 0 #e74246;  
  color: #e74246;
}
.message-wrapper textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;
  padding-top: 10px;
  resize: none;
}
.modal-button-send {
  margin-top: 42px;
  width: 260px;
}






