body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
/* style header*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header {
  font-size: 16px;
  line-height: 30px;
  background-color: #eeeeee;
}
.main-navigation {
  display: flex;
  align-items: flex-start;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
  margin-top: 49px;
  
}
.main-navigation-wrapper{
  width: 100%;
  margin-bottom: 35px;
  
  background-color: #eeeeee;
}
.main-navigation-wrapper .container {
  display: flex;
}
.site-navigation,
.user-navigation {
  margin-top: 75px;
  padding: 0;
  list-style: none;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
.user-navigation{
  width: 160px;
  margin-left: 200px;
}
.site-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

/* slider style*/

.slider-items {
  list-style: none;
}
.slider-items h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-items p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.slider-items a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
 }
.slider-items a:hover,
.slider-items a:focus {
  color: #ffffff;
  background-color: #e74246;
}
.slider-items a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 3px solid #c13135;
}

/*style services */
.services {
  margin-bottom: 80px;
}
.services-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
    
}
.sites {
  background-image: url(../img/illustration-1.jpg);
  background-repeat: no-repeat;

}
.apps {
  background-image: url(../img/illustration-2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.presentation {
  background-image: url(../img/illustration-3.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.services-item {
  
  padding-top: 150px;
  margin-right: 100px;

}
.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.sites a {
  background-color: #fb565a;
}
.sites a:hover,
.sites a:focus {
  background-color: #e74246;
}
.sites a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 3px solid #c13135;
}

.apps a {
  background-color: #00ca74;
}
.apps a:hover,
.apps a:focus {
  background-color: #00bc6c;
}
.apps a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #009966;
  border-top: 3px solid #009958;
}

.presentation a {
  background-color: #efc84a;
}
.presentation a:hover,
.presentation a:focus {
  background-color: #eab534;
}
.presentation a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  border-top: 3px solid #ce961f;
}

/* style about-us */
.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.about-us {
  
  width: 660px;
}
.statistic{
  
  width: 360px;
}
.about-us h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.orders {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.orders-item {
  list-style: none;
}

.statistic-list {
  font-weight: 700;
}
.statistic-items {
   
  
  line-height: 18px;
}
.statistic-percent {
  
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}


/* style partners*/
.partners {
  margin-bottom: 82px;
}
.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;

}
.partners-item {
  width: 260px;
  
}

/* style contacts*/

.contact-info {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts p {
  line-height: 18px;
}

.contacts a {
  background-color: #fb565a;
}
.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}
.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 3px solid #c13135;
}


/* style catalog.html*/
.header-container {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  padding-bottom: 100px;
  margin-bottom: 55px;
}

.header-container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
 
  width: 760px;
 
}

.content-columns {
  display: flex;
  justify-content: space-between;
}
.filters {
  width: 260px;
}
.main-content {
  width: 760px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

}
.content-item {
  width: 360px;
  margin-bottom: 33px;
  
}

.page-switch {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-item a {
  padding: 14px 17px 14px 17px;
  margin-right: 11px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 2px;
}
.page-item a:hover,
.page-item a:focus {
  background-color: #dfdfdf;
}
.page-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
}
.page-item-curent a {
  border: 3px solid #dbdbdb;
  
  background-color: #ffffff;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}
.filter-button {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}
.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}
.filter-button:active {
  background-color: rgba(213, 213, 213, 0.3);
  border-top: 3px solid #bfbfbf;
}

.sort {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-content-item {
  list-style: none;
  text-transform: uppercase;
}
.sort-content a {
  color: #b2b2b2;
}
.sort-content a:hover {
  color: #666666;
}
.sort-content a:active {
  color: #000000;
}

.content-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.content-item p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.content-button {
  background-color: #fb565a;
}
.content-button:hover,
.content-button:focus {
  background-color: #e74246;
}
.content-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border-top: 3px solid #c13135;
}
/* style footer*/
.main-footer .container {
  display: flex;
}
.main-footer{
  padding: 70px 0;
  
}
.social-list {
  list-style: none;
}
.social {
  width: 260px;
  margin: 0;
  margin-right: 140px;
  text-align: center;
}
.social-friend {
  width: 560px;
}
.social-list a {
  text-decoration: none;
}
.social-list a:hover,
.social-list a:focus {
  background-color: #e74246;
}
.social-list a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.main-footer p {
  line-height: 22px;
}

/* style modal*/
.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.message-item {
  line-height: 18px;
  font-weight: 700;
}


.message-form button {
  background-color: #fb565a;
}
.message-form button:hover,
.message-form button:focus {
  background-color: #e74246;
}
.message-form button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}


